<button (click)="increment()">Increment</button>
<div>Current Count: {{ count$ | async }}</div>

<button (click)="decrement()">Decrement</button>

<button (click)="reset()">Reset Counter</button>

<hr>
<h1>TOD App</h1>

<form (ngSubmit)="createTodo(todoName.value); todoName.value = ''">
  <input type="text" #todoName>
  <button type="submit">Add todo</button>
</form>

<ul>
  <li *ngFor='let todo of todos$ | async' >
    {{ todo.text }}
    <span *ngIf="todo.completed" [ngStyle]="{color: 'green'}">(completed)</span>
    <div>
      <button (click)="completeTodo(todo.id)">Complete</button>
      <button (click)="deleteTodo(todo.id)">Remove</button>
    </div>
  </li>
</ul>